@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family:'Roboto', Helvetica, sans-serif;
    background-color:#191950d2;
}
/*main content*/
main{
    height:535px;
    width:900px;
    display:flex;
    padding:1em;
    border-radius:20px;
    background-color:#fff;
    transition:0.6s;
}
/*texts and tittles of content*/
.form{
    width:500px;
    display:flex;
    flex-direction:column;
    align-items:right;
    justify-content:space-between;
    padding:2em 3em;
}
p img{
    margin-right:10px;
}
.form h1{
    font-size:3em;
    color:rgb(5, 5, 21);
}
.form p{
    color:rgb(5, 5, 21);
}
/*form fild with label, input and button elements*/
form{
    display:flex;
    flex-direction:column;
}
/*error message :valid email required*/
form label{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;
}
label span{
    color:rgb(253, 7, 7);
}
/*input email*/
form input{
    height:50px;
    text-indent:2em;
    cursor:pointer;
    border:1px solid #575555;
    color:#444343;
    border-radius:5px;
    outline:0;
}
.form button{
    height:50px;
    width:100%;
    background-color:rgb(5, 5, 21);
    color:#fff;
    font-weight:bolder;
    border:none;
    outline:0;
    border-radius:5px;
    cursor:pointer;
}
.form button:hover{
    background-image:linear-gradient(to right, #f05378, #f38f38)
}
/*background of right side*/
.image{
    background-image:url("../assets/images/illustration-sign-up-desktop.svg");
    background-size:cover;
    background-position:center center;
    width:450px;
    height:500px;
    border-radius:10px;
}
/*message field*/
#none{
    background-color:#fff;
    width:350px;
    height:400px;
    display:flex;
    padding:2em;
    border-radius:20px;
    display:none;
    /* position:absolute;
    top:100px;
    left:500px;
    z-index:-1000; */
    transition:0.6s;
}
#message{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
}
#message img{
    width:50px;
}
#message h1{
    font-size:3em;
}
#message button{
    height:40px;
    border-radius:5px;
    border:none;
    outline:0;
    background-color:rgb(5, 5, 21);
    color:#fff;
    cursor:pointer;
}
#message button:hover{
    background-image:linear-gradient(to right, #f05378, #f38f38)
}
@media screen and (max-width:800px){
    main{
        height:100vh;
        width:100vw;
        flex-direction:column-reverse;
        padding:0;
    }
    .form, .image{
        width:100vw;
    }
    .image{
        background-image:url("../assets/images/illustration-sign-up-mobile.svg");
        border-radius:0 0 10px 10px;
    }
    .form{
        gap:1em;
    }
    #none{
        width:100vw;
        height:100vh;
        border-radius:0;
    }
    #message{
        height:80vh;
        justify-content:flex-start;
        gap:2em;
        margin-top:4em;
    }
    #message button{
        height:60px;
        font-size:1.1em;
        margin-top:auto;
    }
}